  
  .welcome {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    width: 100vw;
    height:60vh;

  }

  .welcome__text {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      animation: slidein 3s ease-in-out forwards;
      opacity: 0;
    }

.welcome__line {
        position: absolute;
        margin-top: 11%;
        left: 0;
        width: 100%;
        background-color: var(--yellow);
        transform: scaleX(0);
        animation: slidein 3s ease-in-out forwards;
      }
    

  .aboutWrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
    max-width: 800px;
    height: 50vh;
    text-align: center;

  }

  @keyframes slidein {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }

    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes scaleup {
    from {
      transform: scaleX(0);
    }

    to {
      transform: scaleX(1);
    }
  }

