.Arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: arrowBounce 2s infinite;
  }
  
  @keyframes arrowBounce {
    0% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, 10px);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }
  
  .Arrow svg {
    width: 25%;
    height: 25%;
    fill: #000000;
  }
  