.Navigation{

  a{
    color: var(--black);
    text-decoration: none;
    font-weight: none;
    font-size: 1.2rem;
    padding: 0 10px 0 10px;
  }
  a:hover{
    color: rgb(0, 169, 207);
  }

  margin-top: 0;
  padding: 0;
}